.home {
	padding: 100px 0px 80px 0px;
	background: url("../img/home-bg.png") 50% 8rem no-repeat;
	&__burger {
		position: relative;
		width: 70%;
		top: 50vh;
		left: 50%;
		transform: translate(-50%, -50vh);
	}
	&__row {
		width: 70%;
		margin: 0 auto;
		text-align: center;
		@media (max-width: 1070px) {
			width: 90%;
		}
		@media (max-width: $md4 + px) {
			width: 100%;
		}
	}
	&__title {
		font-size: 3.4rem;
		margin: 0px 0px 30px 0px;
		line-height: 4rem;
		@media (max-width: $md3 + px) {
			font-size: 2rem;
		}
		@media (max-width: $md4 + px) {
			font-size: 1.9rem;
			line-height: 2.5rem;
		}
	}
	&__text {
		margin: 0px 0px 40px 0px;
		font-size: 1.5rem;
		line-height: 2.8rem;
		@media (max-width: $md3 + px) {
			font-size: 1.2rem;
			line-height: 2.4rem;
		}
		@media (max-width: $md4 + px) {
			font-size: 1.1rem;
			line-height: 2.2rem;
			text-align: justify;
			margin: 0px 0px 30px 0px;
		}
	}
	&__menu {
		margin: 0px 0px 80px 0px;
		@media (max-width: $md4 + px) {
			margin: 0px 0px 50px 0px;
		}
	}
}

.info-home {
	display: flex;
	justify-content: space-between;
	text-align: center;
	@media (max-width: $md2 + px) {
		flex-wrap: wrap;
		justify-content: center;
	}
	&__item {
		max-width: 370px;
		padding: 0px 20px;
		@media (max-width: $md2 + px) {
			&:not(:last-child) {
				margin: 0px 0px 50px 0px;
			}
		}
		@media (max-width: 770px) {
			max-width: 80%;
		}
		@media (max-width: $md4 + px) {
			padding: 0;
		}
	}
	&__img {
		background: $mainColor;
		width: 70px;
		height: 70px;
		border-radius: 50%;
		margin: 0 auto 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		svg {
			width: 30px;
		}
	}
	&__title {
		font-size: 1.6rem;
		margin: 0px 0px 15px 0px;
	}
	&__text {
		font-size: 1.2rem;
		line-height: 2.4rem;
		@media (max-width: $md4 + px) {
			font-size: 1rem;
			line-height: 2rem;
		}
	}
}
