@import "fonts";
@import "base/var";
@import "base/ibg";

html {
	scroll-behavior: smooth;
}

body {
	font-family: $fontFamilyMain;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
}

.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
}

.main-screen {
	flex: 1 0 100%;
	position: relative;
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

.container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0px 15px;
}

@import "blocks/header";

@import "blocks/footer";
